body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-image: url("imgs/Salon.jpeg");
  background-size: cover;
  background-attachment: fixed; 
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Add a transparent background */
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;;
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}

.navbar {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: transparent; /* Set the background to transparent */
  box-shadow: none; /* Remove the box shadow */
  font-family: 'Dancing Script', cursive;
}

.navbar li {
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  padding: 10px 20px;
  transition: color 0.3s ease, text-shadow 0.3s ease; /*add text-shadow transition */
}

.navbar a:hover {
  color: white; /* Change text color to gold on hover */
  text-shadow: 0 0 10px #888; /*add gold glow effect on hover */
}

.navbar a.active {
  color: white; /* change the text color for active link */
}


.navbar .logo {
  margin-right: auto;
  padding: 0;
}


.navbar .logo a {
  display: block;
  padding: 10px;
}

.navbar a,
.navbar .navbar-link {
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  font-size: 2.5rem; /* Adjust the font size as needed */
  padding: 10px 20px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar .navbar-link {
  display: block;
  padding: 10px 20px;
  color: #ccc;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, text-shadow 0.3s ease; /* add glow transition */
}

.navbar .navbar-link:hover {
  color: white; /* change text color on hover */
  text-shadow: 0 0 10px #888; /* add glow effect on hover */
}

.content {
  text-align: center;
  padding: 2rem;
}

.model-image {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
}

.peachish-section {
  background-color: #FFDAB9; /* Dark peachish background color */
  color: #333; /* Text color on dark background */
  text-align: center;
  padding: 2rem;
}
